.main {
    display: flex;
    height: calc(100vh - 45px);
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    background-color: var(--lightBg);
    z-index: 1000;
    position: relative;
    /* position: sticky;
    top: 0px; */
    /* background-attachment: fixed; */
}