.main {
  display: flex;
  height: calc(100vh - 45px);
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  background-color: var(--lightBg);
  z-index: 1000;
  position: relative;
  box-shadow: 8px 0 16px black;
}

.projectCard {
  width: 310px;
  height: 170px;
  margin-left: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.projectCard p {
  font-size: 20px;
  color: white;
}
.imgDescCont{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.2s all ease-out;


}
.imgDescCont img {
  width: 100%;
  height: 100%;
  cursor: pointer;

  margin: 0;
  box-shadow: 0px 0px 4px rgb(0, 0, 0);
  transition: 0.2s all ease-out;
}

.imgDescCont .prjDesc{
  width: 100%;
  height: 100%;
  transform: translate(-100%);
  background: linear-gradient(to right , black 0%, rgba(0, 0, 0, 0.475) 80%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 1000;
  transition: 0.2s all ease-out;
}

.behindLay , .behindLay2 {
  width: 100%;
  height: 100%;
  background-color:  #6cc9ff;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -2;
  transition: 0.2s all ease-out;
  border-radius: 5px;
  overflow: visible;
}
.behindLay2 {
  left: 7%;
  top: 13%;
  background-color: #6cc9ff;
}
.imgDescCont:hover{
  transform: scale(1.08);
}
.imgDescCont:hover .prjDesc{
  transform: translate(-1%);
  visibility: visible;
}
.imgDescCont:hover~.behindLay , .imgDescCont:hover~.behindLay2{
  left: 0;
  top: 0;
}
