/* Skills.module.css */
.skillsContainer {
    background-color: #1c1c1c;
    padding: 40px;
    color: #fff;
    text-align: center;

  }
  
  .skillsTitle {
    font-size: 2em;
    margin-bottom: 20px;
    position: relative;
    font-weight: bold;
  }
  
  .skillsTitle::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #444;
    z-index: -1;
    font-size: 3em;
    width: 100%;
    overflow: hidden;
  }
  
  .skillsDescription {
    margin-bottom: 30px;
    font-size: 1em;
    color: #ccc;
  }
  
  .skillsBars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .skillBar {
    width: 45%;
    margin-bottom: 20px;
  }
  
  .skillLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .skillLabel span {
    font-size: 1em;
  }
  
  .progressBar {
    background-color: #333;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
  }
  
  .progressBar > div {
    height: 100%;
    background-color: #76c38f;
    border-radius: 5px;
  }
  