*{
    font-family: sans-serif;
}
.main {
  height: calc(100vh - 45px);
  max-height: 800px;
  background-color: var(--lightBg);
  position: sticky;
  top: 0px;
  overflow-x: hidden;
  box-shadow: 0px 0px 3px rgb(0, 0, 0) inset;
}

.skillsContainer , .servicesContainer {
  height: calc(100vh - 45px);
  max-height: 800px;

  width: 100%;
  background-color: var(--lightBg);
  padding: 25px 40px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 16px black;
}

.skillsTitle , .heading {
  font-size: 2.3em;
  margin-bottom: 20px;
  position: relative;
  font-weight: 500;
}

.skillsDescription , .servicesDescription {
  margin-bottom: 30px;
  font-size: 1.2em;
  max-width: 1000px;
  color: #ccc;
}
.barLangCont{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.skillsBars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 50%;
}

.skillBar {
  margin-bottom: 20px;
}

.skillLabel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skillLabel span {
  font-size: 1em;
}

.progressBar {
  background-color: #333;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
}

.progressBar > div {
  height: 100%;
  background-color: #59d0e9;
  border-radius: 5px;
}

.skillsLangCont{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.skillLang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 30px;
    box-sizing: border-box;
}

.skillLang img {
    width: 4.5vw;
}

.skillLang p {
    font-size: 12px;
    color: #59d0e9;
    white-space: nowrap;
}


.servicesGrid {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.servicesInnerGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
  width: 100%;
  flex-grow: 1;
  /* align-items: flex-start;  */
}

.serviceCard {
  background-color: var(--darkBg);
  border: 2px #59d0e9 solid;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgb(0, 0, 0);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
  cursor:  pointer ;
  transform: scale(1.06);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.serviceTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.serviceDescription {
  font-size: 1rem;
  color: #666;
}

