.main {
    display: flex;
    height: calc(100vh - 45px);
  max-height: 800px;

    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.heroContent {
    max-width: 450px;
    margin-left: 5%;
}

.heroContent .itroHd {
    font-size: 40px;
    font-weight: 600;
    color: #919191;
}

.intro {
    font-size: 45px;
    margin: 0 5px;
    font-weight: 400;
    color: #ffffff;
}


.heroContent>p {
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    line-height: 30px;
}

.heroImage {
    position: relative; /* Make the container a positioned element */
    width: 25vw;
    height: 25vw;
}

.heroImage img {
    width: 100%; /* Make the image fill the container */
    height: 100%;
    border-radius: 50%;
    border: 8px solid rgb(65, 65, 65);
    animation: hero 0.5s ease-out forwards;
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

.heroImage::before {
    content: "";
    position: absolute; /* Position the gradient overlay on top of the image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Match the border radius of the image */
    background: linear-gradient(circle, rgba(0, 0, 0, 0.5), transparent); /* Gradient overlay */
    pointer-events: none; /* Allow interactions to pass through the gradient overlay */
}


@keyframes hero {
    0% {
        translate: 100% -50px;
    }

    100% {
        translate: -50px 0px;
    }
}