.sidebar {
    background-color: var(--darkBg);
    width: 17vw;
    height: 100vh;
    border: 1px solid var(--border);
    padding: 10px;
}
.sidebarHd{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    gap: 8px;
    color: white;
    /* padding-left: 10px; */
}
.sidebarHd img{
    width: 28px;
}
.linksCont{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.links{
    padding: 5px 20px;
    margin: 10px 0;
    cursor: pointer;
    color: antiquewhite;
    display: flex;
    align-items: center;
    gap: 10px;
}
.links img{
    width: 25px;
}

.active{
    background: #4b4b4b77;
}
