@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata';
}

:root{
  --darkBg:#181818;
  --lightBg:#1F1F1F;
  --text:white;
  --links:#21A1EA;
  --border:rgb(46, 46, 46);
}

.Typer{
  font-size: 30px;
  animation: buffering 1s infinite;
}
@keyframes buffering {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  51%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}